/* ItemDetails.css */
.item-details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    min-height: 80vh;
    margin-top: 70px;
}
  
.details-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .details-info {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    max-width: 600px;
    width: 100%;
  }
  
  .details-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .details-location,
  .details-date,
  .details-description {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
  }
  
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0088cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #006699;
  }
  